<section *ngIf="!loading" id="menu" class="bg-menu">
    <div class="container">
        <div class="heading">
            <a routerLink="/"><img class="heading-img" src="assets/images/logo_ha_black_gold.png" alt=""></a>
            <h2>Nuestra Carta</h2>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <ul class="selecton brdr-b-primary mb-20">
                    <li>
                        <a [ngClass]="selectedCategory=='IBÉRICOS' ? 'active' : ''" href="" onclick="return false;"
                            (click)="selectCategory('IBÉRICOS')">
                            <b>IBÉRICOS</b>
                        </a>
                    </li>
                    <li>
                        <a [ngClass]="selectedCategory=='QUESOS' ? 'active' : ''" href="" onclick="return false;"
                            (click)="selectCategory('QUESOS')">
                            <b>QUESOS</b>
                        </a>
                    </li>
                    <li>
                        <a [ngClass]="selectedCategory=='AHUMADOS Y SALAZÓN' ? 'active' : ''" href=""
                            onclick="return false;" (click)="selectCategory('AHUMADOS Y SALAZÓN')">
                            <b>AHUMADOS Y SALAZÓN</b>
                        </a>
                    </li>
                    <li>
                        <a [ngClass]="selectedCategory=='CECINAS' ? 'active' : ''" href="" onclick="return false;"
                            (click)="selectCategory('CECINAS')">
                            <b>CECINAS</b>
                        </a>
                    </li>
                    <li>
                        <a [ngClass]="selectedCategory=='EMBUTIDOS DE CAZA' ? 'active' : ''" href=""
                            onclick="return false;" (click)="selectCategory('EMBUTIDOS DE CAZA')">
                            <b>EMBUTIDOS DE CAZA</b>
                        </a>
                    </li>
                    <li>
                        <a [ngClass]="selectedCategory=='IBÉRICOS DE ORZA' ? 'active' : ''" href=""
                            onclick="return false;" (click)="selectCategory('IBÉRICOS DE ORZA')">
                            <b>IBÉRICOS DE ORZA</b>
                        </a>
                    </li>
                    <li>
                        <a [ngClass]="selectedCategory=='VINOS' ? 'active' : ''" href="" onclick="return false;"
                            (click)="selectCategory('VINOS')">
                            <b>VINOS</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div *ngIf="selectedCategory != 'VINOS'" class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="selecton-size brdr-b-primary-4 mb-30">
                            <!-- <li [ngClass]="selectedSize=='TAPA' ? 'active' : ''" (click)="selectSize('TAPA')">
                                <img src="assets/images/tapa.png" />
                                <a href="" onclick="return false;">
                                    <b>TAPA</b>
                                </a>
                            </li>
                            <li [ngClass]="selectedSize=='TOSTADA' ? 'active' : ''" (click)="selectSize('TOSTADA')">
                                <img src="assets/images/tostada.png" />
                                <a href="" onclick="return false;">
                                    <b>TOSTADA</b>
                                </a>
                            </li> -->
                            <li [ngClass]="selectedSize=='MEDIA TABLA' ? 'active' : ''"
                                (click)="selectSize('MEDIA TABLA')">
                                <img src="assets/images/media_tabla.png" />
                                <a href="" onclick="return false;">
                                    <b>&#189; TABLA</b>
                                </a>
                            </li>
                            <li [ngClass]="selectedSize=='TABLA' ? 'active' : ''" (click)="selectSize('TABLA')">
                                <img src="assets/images/tabla.png" />
                                <a href="" onclick="return false;">
                                    <b>TABLA</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let menuitem of getProducts(selectedCategory, selectedSize)" class="col-md-6 food-menu pizza">
                <div *ngIf="menuitem.price > 0" class="sided-90x mb-30">
                    <div class="s-left"><img *ngIf="menuitem.image && menuitem.image != '0'" class="br-3"
                            src="assets/images/products/{{menuitem.image}}" alt="Menu Image"></div>
                    <div class="s-right">
                        <h5 class="mb-10">
                            <div class="title">
                                <b>{{menuitem.product}}</b>
                            </div>
                            <b class="color-primary float-right">{{menuitem.price | number:'1.2-2'}} €</b>
                        </h5>
                        <h6 class="mb-10">
                            <span class="icon-allergens" *ngFor="let allergen of menuitem.allergens">
                                <img src="assets/images/{{allergen}}.svg" />
                            </span>
                            <b *ngIf="isProductInOrder(menuitem)" class="btn-less float-right"
                                (click)="removeOrderItem(menuitem)"><img src="assets/images/minus.svg" /></b>
                            <b *ngIf="isProductInOrder(menuitem)"
                                class="btn-amount float-right">{{getItemsInOrder(menuitem)}}</b>
                            <b *ngIf="isProductInOrder(menuitem)" class="btn-more float-right"
                                (click)="addOrderItem(menuitem)"><img src="assets/images/plus.svg" /></b>
                            <b *ngIf="!isProductInOrder(menuitem)" class="btn-buy float-right"
                                (click)="addOrderItem(menuitem)">LO QUIERO</b>
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <h6 class="center-text mt-40 mt-sm-20 mb-30 note-line">
            <div>PRECIOS DE KILO POR PIEZA</div>            
            &nbsp;
            <div class="line">
                <div class="col">Jamón puro 100x100 bellota</div>
                <div class="push">&nbsp;</div>
                <div class="col"> 65,00 € / kilo</div>
            </div>
            <div class="line">
                <div class="col">Jamón bellota 75% bellota</div>
                <div class="push">&nbsp;</div>
                <div class="col"> 49,00 € / kilo</div>
            </div>
            <div class="line">
                <div class="col">Jamón ibérico campo</div>
                <div class="push">&nbsp;</div>
                <div class="col"> 27,00 € / kilo</div>
            </div>
            <div class="line">
                <div class="col">Jamón ibérico cebo</div>
                <div class="push">&nbsp;</div>
                <div class="col"> 20,00 € / kilo</div>
            </div>
            <div class="line">
                <div class="col">Paleta bellota</div>
                <div class="push">&nbsp;</div>
                <div class="col"> 29,00 € / kilo</div>
            </div>
            <div class="line">
                <div class="col">Paleta ibérica de campo</div>
                <div class="push">&nbsp;</div>
                <div class="col"> 19,00 € / kilo</div>
            </div>
            <div class="line">
                <div class="col">Paleta ibérica de cebo</div>
                <div class="push">&nbsp;</div>
                <div class="col"> 16,00 € / kilo</div>
            </div>
            &nbsp;
            <div>Se corta y se envasa al vacío en paquetes a elegir (100 g, 150g, 200g…) Se incrementa 30 € el Jamón
                entero y 20€ la Paleta</div>
        </h6>

        <div *ngIf="order && order.items && order.items.length > 0" class="order-container">
            <div class="line line--header">
                <div class="col-product col-product--total">MI PEDIDO</div>
            </div>
            <div *ngFor="let item of order.items" class="line">
                <div class="col-product">{{item.product}} ({{item.categoria == 'VINOS' ? 'BOTELLA' : item.size}})</div>
                <div class="push col-amount">x{{item.amount}}</div>
                <div class="col-price">{{item.price * item.amount | number:'1.2-2'}} €</div>
            </div>
            <div class="line line--total">
                <div class="col-product col-product--total">Gastos de envío *</div>
                <div class="push col-price col-price--total">
                    {{(getTotal() < limite_gastos ? gastos_envio : 0) | number:'1.2-2'}} €</div>
            </div>
            <div class="line line--total">
                <div class="col-product col-product--total">TOTAL</div>
                <div class="push col-price col-price--total">
                    {{(getTotal() < limite_gastos ? getTotal() + gastos_envio : getTotal()) | number:'1.2-2'}} €</div>
            </div>
            <br>
            <div class="line line--address">
                <div class="col-label-order">Nombre</div>
                <input [(ngModel)]="order.name" (ngModelChange)="checkClientInfo()" class="col-client-info" type="text">
            </div>
            <div class="line line--address">
                <div class="col-label-order">Dirección</div>
                <input [(ngModel)]="order.address" (ngModelChange)="checkClientInfo()" class="col-client-info"
                    type="text">
            </div>
            <div class="line line--address">
                <div class="col-label-order">Código Postal</div>
                <input [(ngModel)]="order.cp" (ngModelChange)="checkClientInfo()" class="col-client-info" type="text">
            </div>
            <div class="line line--address">
                <div class="col-label-order">Forma de pago</div>
                <select name="pay" id="pay" [(ngModel)]="order.pay" (ngModelChange)="checkClientInfo()" value="Metálico"
                    class="col-client-info">
                    <option value="Metálico">Metálico</option>
                    <option value="Tarjeta">Tarjeta</option>
                </select>
            </div>
        </div>

        <h6 class="order-warning">{{warning}}</h6>
        <h6 *ngIf="order && order.items && order.items.length > 0" class="center-text mt-40 mt-sm-20 mb-30">
            <div>* Para pedidos igual o superior a {{limite_gastos}} € el envío es gratuito.</div>
            &nbsp;
            <div>Los pedidos solo serán atentidos en el siguiente horario:</div>
            <div>Lunes de 10:00 a 15:30 y 17:30 a 22:00</div>
            <div>Martes de 10:00 a 14:00 y 17:30 a 20:30</div>
            <div>Miércoles de 10:00 a 14:00 y 17:30 a 22:00</div>
            <div>Jueves, Viernes, Sábado y Domingo de 10:00 a 22:00</div>
        </h6>
        <h6 *ngIf="isVisibleOrderButton()" class="center-text mt-40 mt-sm-20 mb-30">
            <div>
                Haz clic en el icono para enviar tu pedido por Whatsapp:
            </div>

            <div>
                <div class="container-image">
                    <div class="overlay">
                        <a target="_blank" href="{{getWhatsAppOrderLink()}}">
                            <img src="assets/images/whatsapp.png" class="icon">
                        </a>
                        <!-- <a href="tel:{{phone}}"> 
                            <img src="assets/images/phone.png" class="icon">
                        </a> -->
                    </div>
                </div>
            </div>
        </h6>

    </div>
</section>

<section id="suggestions" class="story-area bg-seller color-white pos-relative">
    <div class="pos-bottom triangle-up"></div>
    <div class="pos-top triangle-bottom"></div>
    <div class="container">
        <div class="heading">
            <a routerLink="/"><img class="heading-img" src="assets/images/logo_ha_gold_black.png" alt=""></a>
            <h2>Sugerencias</h2>
        </div>

        <div class="row">
            <div *ngFor="let menuitem of getProducts('SUGERENCIAS', 'TABLA')" class="col-lg-3 col-md-4 col-sm-6">
                <div class="center-text mb-50">
                    <div *ngIf="menuitem.image && menuitem.image != 0" class="ïmg-200x mlr-auto pos-relative">
                        <img class="img-suggestions" src="assets/images/products/{{menuitem.image}}" alt="">
                    </div>
                    <h5 class="mt-20 product-title">{{menuitem.product}}</h5>
                    <h4 class="mt-5"><b>{{menuitem.price | number:'1.2-2'}} €</b></h4>
                    <h6 class="mt-20">
                        <b *ngIf="isProductInOrder(menuitem)" class="btn-more btn-more--suggestions float-right"
                            (click)="addOrderItem(menuitem)"><img class="img-20"
                                src="assets/images/plus_light.svg" /></b>
                        <b *ngIf="isProductInOrder(menuitem)"
                            class="btn-amount btn-amount--suggestions float-right">{{getItemsInOrder(menuitem)}}</b>
                        <b *ngIf="isProductInOrder(menuitem)" class="btn-less btn-less--suggestions float-right"
                            (click)="removeOrderItem(menuitem)"><img class="img-20"
                                src="assets/images/minus_light.svg" /></b>
                        <b *ngIf="!isProductInOrder(menuitem)" class="btn-buy btn-buy--suggestions float-right"
                            (click)="addOrderItem(menuitem)">LO QUIERO</b>
                    </h6>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer" class="pb-50 pt-70 pos-relative">
    <div class="container">
        <div class="heading">
            <a routerLink="/"><img class="heading-img" src="assets/images/logo_ha_gold_black.png" alt=""></a>
        </div>
        <p class="font-9 mt-50 mt-sm-30 center-text">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Web
            realizada con <i class="ion-heart" aria-hidden="true"></i> por <a href="https://colorlib.com"
                target="_blank">Colorlib</a>
        </p>
    </div>
</section>