.img-suggestions {
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #d8b46a;
}

.product-title {
    height: 50px;
}

.title {
    width: 235px;
    display: inline-block;
}

.icon {
    width: 50px;
    margin: 0 30px;
    margin-top: 30px;
}

.note-line {
    font-family: "Roboto", monospace;
    font-size: medium;
}