.subtitle {
    text-align: center;
    padding-bottom: 40px;    
}

.ha-image {
    width: 300px;
    background: #141414;
    box-shadow: 0 0 15px 10px #141414;
}

.title {
    text-emphasis: center;
}

.our-story {
    background-color: #ffffff99;
}

.main-title {
    text-shadow: 2px 2px 2px black;
}

.row-centered {
    text-align: center;
}

.row-middle {
    margin-top: 100px;
}

.container-image {
    position: relative;
    width: 100%;
    max-width: 300px;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 15px 0px rgb(216, 180, 106);
}
  
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.icon {
    width: 60px;
    margin: 10px;
}

.btn-tienda {
    background-color: #1266ffad;
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 10px;
}